body, html {
    background-color: rgb(22 22 22);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 3rem;
}

#links_background {
    margin-top: 3rem;
    background: url(img/links.gif);
    background-size: cover;
    background-position: center;
    min-width: 30rem;
}

#links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 60, 60, 0.7);
    padding: 1.6rem;
    gap: 0.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.links > * {
    font-size: 20px;
}

a:visited, a:hover, a:link {
    color: white;
}

a:hover {
    text-shadow: 0 0 1.18rem currentcolor;
}

.header {
    margin-top: 2rem;
    font-size: 1.4rem;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.project {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project .title {
    transition: text-shadow 0.666s;
    cursor: pointer;
}

.project:hover .title {
    text-shadow: 0 0 1.18rem white;
}

.project img {
    outline: 2px solid transparent;
    transition: outline-color 0.777s;
}

.project img:hover {
    outline-color: white;;
}

#about {
    padding-bottom: 4px;
}

.desc {
    margin-left: 0.8rem;
}

a.media:visited, a.media:hover, a.media:link {
    color: white;
    text-decoration: none;
}

a.media:hover {
    text-shadow: 0 0 1.18rem currentcolor;
    text-decoration: underline;
}

.media_background {
    margin-top: 3rem;
    background: url(img/media.gif);
    background-size: cover;
    background-position: center;
    min-width: 30rem;
}

.media_background_2 {
    margin-top: 3rem;
    background: url(img/media2.gif);
    background-size: cover;
    background-position: center;
    min-width: 30rem;
}

.media_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(61, 72, 71, 0.3);
    font-family: monospace;
    padding: 1.6rem;
    gap: 1.6rem;
}

.media_row {
    flex-direction: row;
    padding: 0.9rem;
}

.media_image {
    width: 80px;
    outline: 1px solid white;
}

.media_image:hover {
    outline: 3px solid white;
}

.red {
    filter: hue-rotate(330deg);
}

.green {
    filter: hue-rotate(155deg);
}

.blue {
    filter: hue-rotate(210deg);
}

.yellow {
    filter: hue-rotate(36deg);
}

.cyan {
    filter: hue-rotate(180deg);
}

#video {
    margin-top: 3rem;
    min-width: 30rem;
    border: 3px solid white;
    box-sizing: border-box;
}